<div class ="container">
  <div class="row">
    <div class="col mx-auto">
      <input #file type='file' multiple (change)="onSelectFile($event, file.files)">
      <button class="btn btn-primary" (click)="uploadImage()">Upload</button>
    </div>
  </div>
</div>
