<nav class="navbar justify-content-center navbar-expand-sm navbar-light shadow bg-light text-white rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" >Home</a>
      <a class="nav-item nav-link" routerLink="/fileupload" >File Upload</a>
      <a class="nav-item nav-link"  routerLink="/filelist" >File List</a>

    </div>
  </div>

</nav>

<router-outlet></router-outlet>
