<div class ="container">
  <div class="row">
    <div class="col mx-auto">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>New Filename</th>
            <th>Old Filename</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let file of fileList">
            <td>{{file.id}}</td>
            <td>{{file.newfilename}}</td>
            <td>{{file.oldfilename}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
